
.products{
    padding:20px;
    padding-top:150px;
    display: flex;
    flex-direction: column;
}
.products h1{
    text-align: center;
}
.allProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;    



    
}
.filter-form{
    border: 1px solid #ddd;
    position: fixed; 
    padding: 20px;
    border-radius: 10px;
    right: 0; 
    text-align: center;
    height: 100px;
    width: 15%;
    overflow: hidden; 
    background-image: url('https://img5.thuthuatphanmem.vn/uploads/2021/12/27/background-powerpoint-trai-cay-dep_044211553.jpg');
    background-size: cover;                 /* Đặt hình nền phủ toàn bộ */
    background-repeat: no-repeat;          /* Không lặp lại hình ảnh */
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    font-weight: bold;
    margin: 20px;
}
.filter-form button{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
}
.filter-form button:hover{
    background-color:#45a049;

}
.filter-form input{
    width:200px;
    height:20px;
}
.ListProducts{
    border: 1px solid #ddd; 
    border-radius: 10px; 
    width: 100%;
    text-align: center;
    overflow: hidden; 
    background-color: #fff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    margin: 10px;
}
.ListProducts img{
    width: 100%; 
    height: 150px; 
    object-fit: contain; 
    border-bottom: 1px solid #ddd; 
    transition: transform 0.3s ease;
}
.ListProducts img:hover{
    transform: scale(1.2); 
}
.ListProducts a{
    text-decoration: none;
}
.ListProducts h3{
    color: black;
}
.price{
    display: flex;
    align-items: center;  
    justify-content: space-between;  
    font-size: 18px;  
    font-weight: bold;  
    color: #333;  
    margin-left: 30px;
    margin-right: 30px;
}
.price button{
    background-color: white;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    border: 3px solid #45a049;
    color: black;
    font-weight:bold;
    transition: background-color 0.3s ease;
}

.price button:hover{
    background-color: #45a049;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}